<a href="https://colab.research.google.com/github/SoniaPMi/NLP/blob/main/NLP_01_Uso_de_texto_en_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Uso de texto en Python
Declaraci√≥n de variables de tipo `string`

In [1]:
texto = "Texto 'normal' en Python"

In [2]:
type(texto)

str

In [3]:
len(texto) #iterable, puede recorerse elemento a elemento con un bucle

24

Los objetos de tipo `string` son elementos iterables compuestos por sus caracteres:

In [4]:
for t in texto:
    print(t)

T
e
x
t
o

'
n
o
r
m
a
l
'

e
n

P
y
t
h
o
n

In [5]:
#podemos indexar cada elemento (caracter) del texto
texto[0:5]

'Texto'

In [6]:
#los iterables tambi√©n se recorren como list comprehension:
lista = [t for t in texto]
print(lista)

['T', 'e', 'x', 't', 'o', ' ', "'", 'n', 'o', 'r', 'm', 'a', 'l', "'", ' ', 'e', 'n', ' ', 'P', 'y', 't', 'h', 'o', 'n']

*Nota:* Las list comprenhension se ven en detalle al final del notebook.

In [ ]:
type(lista)

list

In [7]:
texto2 = texto

In [8]:
print(texto2.lower()) #todo a minusculas
print(texto2.upper()) #todo a mayusculas
print(texto2.title()) #primeras letras en mayusculas

texto 'normal' en python
TEXTO 'NORMAL' EN PYTHON
Texto 'Normal' En Python

In [10]:
print(texto2.split()) #separo en palabras

['Texto', "'normal'", 'en', 'Python']

In [14]:
c = "texto 'normal' \n en python"
print(c.splitlines())

["texto 'normal' ", ' en python']

In [15]:
print(c.splitlines(1))

["texto 'normal' \n", ' en python']

In [16]:
texto2.join(c)

"tTexto 'normal' en PythoneTexto 'normal' en PythonxTexto 'normal' en PythontTexto 'normal' en PythonoTexto 'normal' en Python Texto 'normal' en Python'Texto 'normal' en PythonnTexto 'normal' en PythonoTexto 'normal' en PythonrTexto 'normal' en PythonmTexto 'normal' en PythonaTexto 'normal' en PythonlTexto 'normal' en Python'Texto 'normal' en Python Texto 'normal' en Python\nTexto 'normal' en Python Texto 'normal' en PythoneTexto 'normal' en PythonnTexto 'normal' en Python Texto 'normal' en PythonpTexto 'normal' en PythonyTexto 'normal' en PythontTexto 'normal' en PythonhTexto 'normal' en PythonoTexto 'normal' en Pythonn"

### Ejercicio
¬øDe qu√© tipo es cada elemento de la lista anterior?

In [ ]:
type(lista[0])

str

### Caracteres unicode en Python
Todos los objetos `string` aceptan caracteres unicode.

In [18]:
#caracteres unicode
texto2 = "√°√®√ØüòÄüõµ"

In [19]:
[t for t in texto2]

['√°', '√®', '√Ø', 'üòÄ', 'üõµ']

Texto en otros alfabetos (http://xahlee.info/comp/unicode_index.html)

In [20]:
#chino
texto3 = "ÊûóËä±Ë¨ù‰∫ÜÊò•Á¥Ö Â§™ÂåÜÂåÜ"
[t for t in texto3]

['Êûó', 'Ëä±', 'Ë¨ù', '‰∫Ü', 'Êò•', 'Á¥Ö', ' ', 'Â§™', 'ÂåÜ', 'ÂåÜ']

In [21]:
#cir√≠lico:
texto4 = "–ë–±–≤–ì–≥–î–¥—≠"
[t for t in texto4]

['–ë', '–±', '–≤', '–ì', '–≥', '–î', '–¥', '—≠']

In [22]:
#griego:
texto5 = "Œ±Œ≤Œ≥Œ¥Œµ"
[t for t in texto5]

['Œ±', 'Œ≤', 'Œ≥', 'Œ¥', 'Œµ']

In [23]:
import sys 
sys.getsizeof(texto4) #tama√±o memoria

90

In [24]:
len(texto4) #longitud texto

8

## M√©todos sobre strings
M√©todos que devuelven `string`/lista de `string`:
- `lower`
- `upper`
- `tittle`
- `len`

In [ ]:
"texto".upper()

'TEXTO'

In [ ]:
texto.title()

"Texto 'Normal' En Python"

In [ ]:
"la casa azul".title()

'La Casa Azul'

Lo podemos aplicar a los elementos *string* de una lista mediante una *list comprenhension*

In [ ]:
#creamos una lista de las palabras de nuestro texto
lista2 = texto.split(" ")
lista2

['Texto', "'normal'", 'en', 'Python']

In [ ]:
#tambi√©n podemos convertir una lista en string
','.join(lista2)

"Texto,'normal',en,Python"

In [ ]:
#aplicamos m√©todo a cada elemento de la lista
[c.upper() for c in lista2]

['TEXTO', "'NORMAL'", 'EN', 'PYTHON']

M√©todos de comparaci√≥n:  
`s.startswith(t)
s.endswith(t)
t in s
s.isupper(); s.islower(); s.istitle()
s.isalpha(); s.isdigit(); s.isalnum()`

In [25]:
'Texto'.startswith('t')

False

In [26]:
'Texto'.startswith('T')

True

In [27]:
'ex' in texto

True

In [28]:
'Texto'.istitle()

True

In [29]:
'TexTo'.istitle()

False

In [30]:
'Texto largo'.istitle()

False

In [31]:
'Hola' == 'hola'

False

In [32]:
'Hola'.lower() == 'hola'

True

In [35]:
texto

"Texto 'normal' en Python"

In [33]:
lista2 = texto.split(" ")
lista2

['Texto', "'normal'", 'en', 'Python']

In [36]:
'texto' in texto

False

In [37]:
','.join(lista2)

"Texto,'normal',en,Python"

In [38]:
[c.upper() for c in lista2] 
# el elemento lista no tiene lista, lo aplico elemento a elemento, porq asi lo aplico a un str

['TEXTO', "'NORMAL'", 'EN', 'PYTHON']

In [39]:
list(map(lambda x: x.upper(), lista2))

['TEXTO', "'NORMAL'", 'EN', 'PYTHON']

In [40]:
print('√≥' in 'acci√≥n')
print('o' in 'acci√≥n')

True
False

Podemos combinar las funciones de comparaci√≥n con las list comprehension

In [41]:
lista2

['Texto', "'normal'", 'en', 'Python']

In [42]:
print([w for w in lista2]) #recorrer todos los elementos de la lista
print([w for w in range(10)]) #recorrer todos los elementos de 0 a 9

['Texto', "'normal'", 'en', 'Python']
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [43]:
#palabras que empiezan en may√∫scula
[w for w in lista2 if w.istitle()] 
#devuelve de la lista los elementos que cumplen esa condici√≥n

['Texto', 'Python']

### Ejercicio
Filtra las palabras terminadas en `n` de `lista2`

In [44]:
[w for w in lista2 if w.endswith('n')]

['en', 'Python']

In [45]:
texto = 'hola\nmundo'

In [46]:
print(texto)

hola
mundo

In [47]:
len('r\n') #raw

2

In [48]:
len('\n')

1

In [49]:
[c for c in r'\n']

['\\', 'n']

## Uso de texto en Pandas
https://pandas.pydata.org/pandas-docs/stable/user_guide/text.html

In [51]:
import pandas as pd
import numpy as np
pd.__version__

'1.3.5'

In [52]:
pd.Series(lista2)

0       Texto
1    'normal'
2          en
3      Python
dtype: object

In [53]:
pd.Series(lista2, dtype="string") #string es un nuevo dtype de Pandas 1.0

0       Texto
1    'normal'
2          en
3      Python
dtype: string

In [54]:
#podemos usar los m√©todos de str sobre los elementos del array
s = pd.Series(
     ["A", "B", "C", "Aaba", "Baca", np.nan, "CABA", "dog", "cat"],
     dtype="string"
 )
s

0       A
1       B
2       C
3    Aaba
4    Baca
5    <NA>
6    CABA
7     dog
8     cat
dtype: string

In [55]:
#contar caracteres
s.str.len()

0       1
1       1
2       1
3       4
4       4
5    <NA>
6       4
7       3
8       3
dtype: Int64

In [56]:
#convertir serie s en may√∫sculas
s.str.upper()

0       A
1       B
2       C
3    AABA
4    BACA
5    <NA>
6    CABA
7     DOG
8     CAT
dtype: string

Dividir, expandir, reemplazar, o concatenar texto (extraer lo veremos con RegEx)

In [57]:
#split devuelve una Serie de elementos de tipo lista
s2 = pd.Series(["a_b_c", "c_d_e", np.nan, "f_g_h_k"], dtype="string")
s2.str.split("_") #split elimina el elemento entre par√©ntesis

0       [a, b, c]
1       [c, d, e]
2            <NA>
3    [f, g, h, k]
dtype: object

In [58]:
#podemos acceder a los elementos de la lista con str.get o str[]
s2.str.split("_").str.get(1) 
#elimino el "_" y luego cojo el elemento 1, que es el segundo

0       b
1       d
2    <NA>
3       g
dtype: object

In [59]:
s2.str.split("_").str[2] #

0       c
1       e
2    <NA>
3       h
dtype: object

In [60]:
#podemos expandir la lista a un dataframe
s2.str.split("_", expand=True)

      0     1     2     3
0     a     b     c  <NA>
1     c     d     e  <NA>
2  <NA>  <NA>  <NA>  <NA>
3     f     g     h     k

In [ ]:
s3 = pd.Series(
     ["A", "B", "C", "Aaba", "Baca", "", np.nan, "CABA", "dog", "cat"],
     dtype="string",
 )
s3

0       A
1       B
2       C
3    Aaba
4    Baca
5
6    <NA>
7    CABA
8     dog
9     cat
dtype: string

In [ ]:
#reemplazar texto
s3.str.replace("a", "X", case=True)

0       A
1       B
2       C
3    AXbX
4    BXcX
5
6    <NA>
7    CABA
8     dog
9     cXt
dtype: string

In [65]:
s = pd.Series(["a", "b", "c", "d"], dtype="string")
s

0    a
1    b
2    c
3    d
dtype: string

In [66]:
#concatenar texto (elementos de una Serie)
s.str.cat(sep=",")

'a,b,c,d'

In [61]:
type(s.str.cat(sep=","))

str

In [67]:
#podemos concatenar los elementos de una Serie con otra de igual longitud
s.str.cat(["A", "B", "C", "D"])

0    aA
1    bB
2    cC
3    dD
dtype: string

Funciones de comparaci√≥n: comprobar si un elemento contiene o empieza por un patr√≥n

In [68]:
s3

NameError: ignored

In [ ]:
s3.str.match("A") #comienza por el patr√≥n

0     True
1    False
2    False
3     True
4    False
5    False
6     <NA>
7    False
8    False
9    False
dtype: boolean

In [ ]:
pd.concat([s3, s3.str.startswith("A")], axis=1) #comienza por patr√≥n

      0      1
0     A   True
1     B  False
2     C  False
3  Aaba   True
4  Baca  False
5        False
6  <NA>   <NA>
7  CABA  False
8   dog  False
9   cat  False

In [ ]:
pd.concat([s3, s3.str.contains("A")], axis=1) #contiene el patr√≥n

      0      1
0     A   True
1     B  False
2     C  False
3  Aaba   True
4  Baca  False
5        False
6  <NA>   <NA>
7  CABA   True
8   dog  False
9   cat  False

In [ ]:
pd.concat([s3, s3.str.fullmatch("A")], axis=1) #es igual al patr√≥n

      0      1
0     A   True
1     B  False
2     C  False
3  Aaba  False
4  Baca  False
5        False
6  <NA>   <NA>
7  CABA  False
8   dog  False
9   cat  False

El listado completo de m√©todos para *strings* est√° en https://pandas.pydata.org/pandas-docs/stable/user_guide/text.html#method-summary

## Generator comprenhension y List comprenhension

In [69]:
#ITERADOR
x = [0, 1, 2, 3, 4]
for i in x:
  print(i)

0
1
2
3
4

In [70]:
#GENERADOR - no ocupa memoria "ram"
#internamente tiene un puntero que apunta al elemento historiable que tiene que devolver.
#al llegar al ultimo ya no vuelve al principio
def eleva_cuadrado(lista): 
  for i in lista:
    yield i**2

cuadrado = eleva_cuadrado(x)
print(cuadrado)

for i in cuadrado:
  print(i)

<generator object eleva_cuadrado at 0x7f52ceae3150>
0
1
4
9
16

In [ ]:
#la funci√≥n range es un caso especial de generator
x=range(10)

In [ ]:
x

range(0, 10)

In [ ]:
#los generadores son iterables
for i in x:
    print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
#generator comprenhension
gen = (i**2 for i in range(10))
gen

Los `generator` se pueden recorrer con un bucle `for` pero tambi√©n con la funci√≥n `next()`.

In [ ]:
next(gen)

0

Los `generator` se consumen al iterar sobre ellos, por lo que no es posible volver a generar el mismo miembro. En el siguiente bucle se comienza por el 2¬∫ elemento

In [ ]:
for i in gen:
    print(i)

1
4
9
16
25
36
49
64
81

In [ ]:
import sys
sys.getsizeof(gen)

128

Podemos volcar los contenidos de un iterador (o generador) a una lista, que s√≠ ocupa memoria por cada uno de sus elementos.

In [ ]:
gen = (i**2 for i in range(10))
lista_gen = list(gen)

In [ ]:
next(gen) 
# cada intro recore una posici√≥n, una vez recorrida una posici√≥n ya se ha comsumido

1

In [ ]:
lista_gen

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
sys.getsizeof(gen)

128

In [ ]:
sys.getsizeof(lista_gen)

168

In [ ]:
#lo anterior equivale a un list comprenhension de los mismos valores
lista = [i**2 for i in range(10)]

In [ ]:
lista

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
#un iterator es un objeto iterable que implementa el m√©todo next()
gen_lista = iter(lista)

In [ ]:
gen_lista

In [ ]:
next(gen_lista) # de esta manera no recorro entero el "bucle"

4

In [ ]:
next(gen_lista)

9

In [ ]:
for i in gen_lista:
    print(i)

4
9
16
25
36
49
64
81

In [ ]:
sys.getsizeof(gen_lista)

64

In [ ]:
#tambi√©n podemos generar tuplas con los generadores
gen = ((i, i**2) for i in range(10))

In [ ]:
sys.getsizeof(gen)

128

In [ ]:
for i in gen:
    print(i)

(0, 0)
(1, 1)
(2, 4)
(3, 9)
(4, 16)
(5, 25)
(6, 36)
(7, 49)
(8, 64)
(9, 81)

In [ ]:
for i,j in ((i, i**2) for i in range(10)):
    print(f"El cuadrado de {i} es {j}")

El cuadrado de 0 es 0
El cuadrado de 1 es 1
El cuadrado de 2 es 4
El cuadrado de 3 es 9
El cuadrado de 4 es 16
El cuadrado de 5 es 25
El cuadrado de 6 es 36
El cuadrado de 7 es 49
El cuadrado de 8 es 64
El cuadrado de 9 es 81

### Enumerating iterables
The built-in enumerate function allows us to iterate over an iterable, while keeping track of the iteration count

In [ ]:
enumerate(lista)

In [ ]:
for i,j in enumerate(lista2):
    print(i,j)

0 Texto
1 'normal'
2 en
3 Python

In [ ]:
for (i, p) in enumerate("Esta es una frase".split(' ')):
    print(f"Palabra {i}: {p}")

Palabra 0: Esta
Palabra 1: es
Palabra 2: una
Palabra 3: frase

Podemos usar una expresi√≥n `if-else` dentro de la *comprenhension*

In [ ]:
['impar' if i%2 else 'par' for i in range(10)] 
#recorro todos los elementos, pero que me devuelva si es par o impar

['par',
 'impar',
 'par',
 'impar',
 'par',
 'impar',
 'par',
 'impar',
 'par',
 'impar']

In [ ]:
#devolviendo una tupla con (valor, par/impar)
[(i,'impar' if i%2 else 'par') for i in range(10)]

[(0, 'par'),
 (1, 'impar'),
 (2, 'par'),
 (3, 'impar'),
 (4, 'par'),
 (5, 'impar'),
 (6, 'par'),
 (7, 'impar'),
 (8, 'par'),
 (9, 'impar')]

In [ ]:
#podemos combinar con funciones sobre str
[c.upper() if len(c)>3 else c for c in lista2 if c.endswith('n')]

['en', 'PYTHON']

In [ ]:
#tambi√©n lo podemos hacer sobre un generador
gen = (c.upper() if len(c)>3 else c for c in lista2 if c.endswith('n'))

In [ ]:
gen

In [ ]:
for i in gen:
    print(i)

en
PYTHON