<a href="https://colab.research.google.com/github/SoniaPMi/NLP/blob/main/NLP_02_Expresiones_regulares.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Expresiones regulares en Python
El módulo `re` tiene las siguientes funciones de Regex:
- `findall`: Returns a list containing all matches  
- `search`: Returns a Match object if there is a match anywhere in the string  
- `match`: Returns a Match object if there is a match at the start of the string  
- `split`: Returns a list where the string has been split at each match  
- `sub`: Replaces one or many matches with a string

In [1]:
import re

Las expresiones regulares son patrones formados por:  
- texto  
- Metacaracteres  
- Secuencias especiales  
- Sets

In [2]:
texto = 'El Sol aparece por la mañana entre las montañas y los ríos'

### Texto

In [3]:
re.search("aña", texto)

In [4]:
#indexamos del inicio al final del span
texto[23:26]

'aña'

Los objetos de tipo `re.Match` tienen distintos atributos, pero el texto encontrado por el patrón está en el atributo `group(0)` o elemento [0]

In [12]:
m = re.search("aña", texto)
m[0].upper() #m[0] equivale a  re.search("aña", texto).group(0)

'AÑA'

In [13]:
m

In [6]:
[a for a in dir(m) if not a.startswith('__')]

['end',
 'endpos',
 'expand',
 'group',
 'groupdict',
 'groups',
 'lastgroup',
 'lastindex',
 'pos',
 're',
 'regs',
 'span',
 'start',
 'string']

In [7]:
texto[m.start():m.end()]

'aña'

Los objetos `re.match` también se pueden usar como valor booleano (`True` si el patrón regular existe en la cadena de texto).

In [8]:
if re.search("caña", texto):
    print("True")
else:
    print("False")

False

Para buscar todas las apariciones del patrón en el texto (sólo el texto) usamos `re.findall()`

In [9]:
re.findall("aña", texto)

['aña', 'aña']

Para obtener un objeto `Match` por cada patrón encontrado hay que usar la función `re.finditer()`

In [10]:
patrones = re.finditer("aña", texto)
patrones

In [11]:
for p in patrones:
    print(p)

<re.Match object; span=(23, 26), match='aña'>
<re.Match object; span=(43, 46), match='aña'>

#### Metacaracteres

In [15]:
texto

'El Sol aparece por la mañana entre las montañas y los ríos'

In [16]:
re.findall("l.s", texto)

['las', 'los']

In [17]:
re.findall("las?", texto) #busca tanto la como las, pq tiene ?. 
#limite de aparecer 0 o 1 vez l

['la', 'las']

In [18]:
re.findall("las*", 'la las lass') #la búsqueda es de tipo "greedy" (avariciosa)
#el asteríco es coger todas las "s" que pueda

['la', 'las', 'lass']

### Secuencias especiales

In [19]:
texto2 = "La caña es débil"

`\w`: caracteres alfanuméricos (unicode)

In [20]:
re.findall("\w", texto2)

['L', 'a', 'c', 'a', 'ñ', 'a', 'e', 's', 'd', 'é', 'b', 'i', 'l']

In [21]:
re.findall("\w+", texto2)

['La', 'caña', 'es', 'débil']

In [23]:
#cuidado porque el rango de caracteres A-Z no incluye caracteres unicode
re.findall("[A-Za-z0-9_]+", texto2)

['La', 'ca', 'a', 'es', 'd', 'bil']

In [25]:
re.findall("\w+", "mañana, adiøs18")

['mañana', 'adiøs18']

`\d`: dígitos

In [24]:
texto2 = "Hay 35 alumnos en 1º, pero sólo 7 en 4º"

In [26]:
re.findall("\d+", texto2)

['35', '1', '7', '4']

In [27]:
re.findall("\w+", texto2)

['Hay', '35', 'alumnos', 'en', '1º', 'pero', 'sólo', '7', 'en', '4º']

`\b`: inicio o fin de palabra

In [28]:
texto = "la blanca lavandería"

In [29]:
re.findall(r"\bla\w*", texto) #palabras que comienzan por 'la'

['la', 'lavandería']

In [30]:
#por contra
re.findall(r"la\w*", texto) #palabras que contienen 'la'

['la', 'lanca', 'lavandería']

In [31]:
re.findall(r"\w*os\b", "los ríos y otras oscuras formaciones geológicas") #palabras que terminan en 'os'

['los', 'ríos']

In [32]:
#por contra
re.findall(r"\w*os", "los ríos y otras oscuras formaciones geológicas")

['los', 'ríos', 'os']

### Sets

In [33]:
texto = 'los soles y las lisas'

In [34]:
re.findall("l\ws", texto)

['los', 'les', 'las', 'lis']

In [35]:
re.findall("l[oa]s", texto)

['los', 'las']

In [36]:
re.findall("[a-zA-Z]+", texto) #cuidado: la `ñ` no está en el alfabeto a-z

['los', 'soles', 'y', 'las', 'lisas']

### cuantificadores

In [37]:
texto = 'El Sol aparece por la mañana entre las montañas y los ríos'

In [38]:
re.findall("\w{4,5}", texto) 
#palabras de 4 o más caracteres / cuando corta palabra vuelve a empezar

['apare', 'mañan', 'entre', 'monta', 'ríos']

In [39]:
re.findall(r"\b\w{2,4}\b", texto) #palabras dentre 2 y 4 caracteres

['El', 'Sol', 'por', 'la', 'las', 'los', 'ríos']

### Ejercicio
Detecta palabras que empiezan por `m` con una longitud entre 3 y 5 caracteres en el siguiente texto

In [43]:
texto = 'más o menos me da igual, de manera que tú mismo'

In [46]:
re.findall(r"\bm\w{3,5}\b", texto) #palabras dentre 2 y 4 caracteres
#w* no porque tiene que acabar ahi
#\b para encontrar palabra entera, y no dejar manera cortado

['menos', 'manera', 'mismo']

### Captura de grupos
Un grupo es un patrón RegEx que queremos obtener (capturar) dentro de una patrón de expresión regular más amplio

In [47]:
texto = 'Hay 35 alumnos en 1º pero sólo 7 en 4º'

In [48]:
re.findall(r"(\d)º", texto) #capturamos 1 dígito sólo si va seguido de 'º'

['1', '4']

In [49]:
#Si hay varios grupos, findall devuelve una tupla
texto = 'Hay 35 alumnos en 1A pero sólo 7 en 4B'
re.findall(r"(\d)([A-Z])", texto) #capturamos 1 dígito sólo si va seguido de una letra mayúscula

[('1', 'A'), ('4', 'B')]

In [50]:
#obtener una fecha con patrón yyyy-mm-dd
fechas = "2021-3-21, 2020-12-1, 2019-11-25, 2018-11"
re.findall("\d{4}-\d{1,2}-\d{1,2}", fechas)

['2021-3-21', '2020-12-1', '2019-11-25']

In [51]:
#obtener sólo el mes en un patrón yyyy-mm-dd
re.findall("\d{4}-(\d{1,2})-\d{1,2}", fechas)

['3', '12', '11']

Si queremos usar los paréntesis para aplicar un metacaracter o un cuantificador a un patrón en lugar de un sólo carácter, usamos un *non-capturing group* mediante la sintaxis expecial `(?:...)`

In [52]:
#Encuentra todos los números
re.findall(r"\d+(?:[\.,]\d+)*", "34.5 34,56 5 3.476,76")

['34.5', '34,56', '5', '3.476,76']

In [53]:
#detecta todos los ordinales
re.findall(r"\d+(?:er|º|ª)", "El corredor 23 quedo 1º en el 1er día de carrera y su mujer 2ª")

['1º', '1er', '2ª']

### Ejercicio
La última fecha (2018-11) no se ha detectado, ¿cómo podemos detectarla?

In [64]:
fechas

'2021-3-21, 2020-12-1, 2019-11-25, 2018-11'

In [67]:
re.findall("\d{4}-\d{1,2}(?:-\d{1,2})?", fechas)

['2021-3-21', '2020-12-1', '2019-11-25', '2018-11']

## Grupos numerados
Podemos asignar un nombre a cada grupo y luego referenciarlo en el objeto `re.Match`

In [59]:
#buscamos letra seguida de dígito
objeto = re.search(r"(?P<letra>[ab])(?P<dígito>\d)", "5, a3, b4")

In [60]:
objeto.groupdict()

{'dígito': '3', 'letra': 'a'}

In [61]:
objeto['letra'] #grupo capturado 'letter'

'a'

In [62]:
objeto[0] #texto completo capturado por el patrón

'a3'

In [63]:
#Para buscar todos los matches hay que usar una búsqueda iterativa
for objeto in re.finditer(r"(?P<letra>[ab])?(?P<dígito>\d)", "5, a3, b4"):
    print(objeto.groupdict())

{'letra': None, 'dígito': '5'}
{'letra': 'a', 'dígito': '3'}
{'letra': 'b', 'dígito': '4'}

### División y substitución de texto
usando `re.split()` y `re.sub()`

In [54]:
#Usando un patrón para dividir
texto3 = "Los pájaros cantan, las nubes se levantan. Que sí, que no, que caiga un chaparrón."
re.split("[,.\s]+", texto3)

['Los',
 'pájaros',
 'cantan',
 'las',
 'nubes',
 'se',
 'levantan',
 'Que',
 'sí',
 'que',
 'no',
 'que',
 'caiga',
 'un',
 'chaparrón',
 '']

In [55]:
#substitución de texto
texto = 'El Sol aparece por la mañana entre las montañas y los ríos'
re.sub(" ", "_", texto)

'El_Sol_aparece_por_la_mañana_entre_las_montañas_y_los_ríos'

In [56]:
#substitución de un patrón
re.sub("l[ao]s", "l@s", texto)

'El Sol aparece por la mañana entre l@s montañas y l@s ríos'

In [57]:
#substitución de un grupo capturado
fechas = "2021-3-21, 2020-12-1, 2019-11-25, 2018-11"
re.sub("(\d{4})-(\d{1,2})-(\d{1,2})", r"\3/\2/\1", fechas)

'21/3/2021, 1/12/2020, 25/11/2019, 2018-11'

In [58]:
#Uso de una función sobre el texto a substituir
def mayusculas(m):
    return m[0].upper() #el elemento 0 de un objeto Match es el texto encontrado

re.sub(r"\b\w{3}\b", mayusculas, texto) #pasa a may. palabras de 3 letras

'El SOL aparece POR la mañana entre LAS montañas y LOS ríos'

## Uso de RegEx en Pandas

In [68]:
import pandas as pd
import numpy as np

In [69]:
s = pd.Series(
     ["A", "B", "C", "Aaba", "Baca", "", np.nan, "CABA", "dog", "cat"],
     dtype="string",
 )
s

0       A
1       B
2       C
3    Aaba
4    Baca
5
6    <NA>
7    CABA
8     dog
9     cat
dtype: string



### `str.replace()`

In [70]:
s.str.replace("A\w+|B\w+", "XX", regex=True)

0       A
1       B
2       C
3      XX
4      XX
5
6    <NA>
7     CXX
8     dog
9     cat
dtype: string



### `str.extract()`y `str.extractall()`

In [71]:



#The extract method accepts a regular expression with at least one capture group.
pd.Series(
     ["a1", "b2", "c3"],
     dtype="string",
 ).str.extract(r"([ab])(\d)")

      0     1
0     a     1
1     b     2
2  <NA>  <NA>

In [72]:



#Podemos hacer un grupo opcional.
pd.Series(
     ["a1", "b2", "c3", "ab"],
     dtype="string",
 ).str.extract(r"([ab])?(\d)")

      0     1
0     a     1
1     b     2
2  <NA>     3
3  <NA>  <NA>

In [73]:
#Podemos poner nombres a los grupos.
pd.Series(
     ["a1,b7", "b2", "c3"],
     dtype="string",
 ).str.extract(r"(?P<letter>[ab])?(?P<digit>\d)")

  letter digit
0      a     1
1      b     2
2   <NA>     3

The `extractall` method returns every match. The result of `extractall` is always a DataFrame with a MultiIndex on its rows. The last level of the MultiIndex is named `match` and indicates the order in the subject.

In [74]:
s2 = pd.Series(["a1a2", "b1", "c1"], index=["A", "B", "C"], dtype="string")
s2

A    a1a2
B      b1
C      c1
dtype: string

In [75]:
s2.str.extractall("(?P<letter>[a-z])(?P<digit>[0-9])")

        letter digit
  match
A 0          a     1
  1          a     2
B 0          b     1
C 0          c     1

### `match`, `fullmatch`, `contains`

In [76]:
s = pd.Series(
     ["1", "2", "3a", "3b", "03c", "4dx", "5b"],
     dtype="string",
 )
s

0      1
1      2
2     3a
3     3b
4    03c
5    4dx
6     5b
dtype: string

In [77]:
pd.concat([s,s.str.contains(r"[0-3][a-z]")], axis=1) #en cualquier lugar del texto

     0      1
0    1  False
1    2  False
2   3a   True
3   3b   True
4  03c   True
5  4dx  False
6   5b  False

In [78]:
pd.concat([s,s.str.match(r"[0-9][a-z]")], axis=1) #sólo al inicio del texto

     0      1
0    1  False
1    2  False
2   3a   True
3   3b   True
4  03c  False
5  4dx   True
6   5b   True

In [79]:
pd.concat([s,s.str.fullmatch(r"[0-9][a-z]")], axis=1)

     0      1
0    1  False
1    2  False
2   3a   True
3   3b   True
4  03c  False
5  4dx  False
6   5b   True